[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.5"

[packages]
pyramid = "*"
pyramid_jinja2 = "*"
alembic = "*"
pyramid_sqlalchemy = "*"
pyramid_tm = "*"
PyMySQL = "*"
pyramid_wtforms = "*"
pyramid_mailer = "*"
pyramid_beaker = "*"

[dev-packages]
pyramid_debugtoolbar = "*"
waitress = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
flake8 = "*"
rope = "*"
"autopep8" = "*"
