###
# app configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
###

[app:main]
use = egg:{{ cookiecutter.repo_name }}

pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false

# activate some useful filters of jinja2
jinja2.filters =
    route_url = pyramid_jinja2.filters:route_url_filter
    static_url = pyramid_jinja2.filters:static_url_filter
    route_path = pyramid_jinja2.filters:route_path_filter
    static_path = pyramid_jinja2.filters:static_path_filter

production_mode = true

auth_mode = false

# secret key
#secret_key = CHANGE_ME

# using pyramid_redis_sessions for production
#redis.sessions.secret = CHANGE_ME

# database settings
#
# Note that you need to install the real database driver
# by yourself, like pymysql.
# The url syntax can be found here: http://docs.sqlalchemy.org/en/latest/core/engines.html
#sqlalchemy.url = mysql+pymysql://DB_USER:DB_PASS@DB_HOST/DB_NAME
#sqlalchemy.url = sqlite:///%(here)s/{{ cookiecutter.repo_name }}.db

# i18n settings
#
# Set it to a valid locale name (default is en).
#translation_domain = {{ cookiecutter.repo_name }}
#pyramid.default_locale_name = {{ cookiecutter.locale_name }}
#jinja2.newstyle = true
#jinja2.i18n.domain = {{ cookiecutter.repo_name }}

###
# wsgi server configuration
###

[server:main]
use = egg:waitress#main
listen = *:6543

###
# logging configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, {{ cookiecutter.repo_name }}

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = WARN
handlers = console

[logger_{{ cookiecutter.repo_name }}]
level = WARN
handlers =
qualname = {{ cookiecutter.repo_name }}

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s][%(threadName)s] %(message)s
